@import './variables';
@import './nav';
@import './scrollbar';
@import './keyframes';
@import './sidebar';

*{
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: Roboto, Arial, sans-serif;
    background-color: $darker;
}

body, html{
    height: 100%;
}

article{
    margin: 15px;
    display:flex;
    flex-direction:row;
    gap: 10px;
    height: 100%;
}

#main-content{
    flex-basis: 70%;
    flex-direction: column;
    // border: $testborder;
    height: 100%;
    // display: inline-block;
    // display:flex;
    // align-items: center;

    #video-player{
        width: 100%;
        // border: $testborder;
        display:flex;
        flex-direction: column;
        gap:10px;
        justify-content: center;
        iframe{
            width:100%;
            height: 40vw;
        }
    }
    #description{
        // border:$testborder;
        font-size: 14px;
        header{
            margin: 5px 0;
            color:rgb(90, 152, 247);
        }
        h1{
            font-weight:500;
            font-size: 19px;
        }
        p{
            margin: 7px 0;
        }

    }
    hr{
        border:none;
        border-top: 0.5px solid rgb(95, 95, 95);
        width: 98%;
    }

    #comment-section{
        width: 100%;
        // border: $testborder;
    }
}

