@import './variables';
@import './nav';
@import './scrollbar';
@import './sidebar';

*{
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: Roboto, Arial, sans-serif;
    background-color: $darker;
}

body, html{
    height: 100%;
}

article{
    margin: 15px;
    display:flex;
    flex-direction:row;
    gap: 10px;
    height: 100%;
}

#main-content{
    flex-basis: 70%;
    flex-direction: column;
    height: 100%;

    #video-player{
        width: 100%;
        display:flex;
        flex-direction: column;
        gap:10px;
        justify-content: center;
        iframe{
            width:100%;
            height: 40vw;
        }
    }
    #description{
        position:relative;
        font-size: 14px;
        height: 83px;
        header{
            margin: 5px 0;
            color:rgb(90, 152, 247);
        }
        h1{
            font-weight:500;
            font-size: 19px;
        }
        p{
            margin: 7px 0 -10px 0;
        }

        #action-buttons{
            position:absolute;
            right: 0;
            bottom: 5px;
            ul{
                list-style: none;
                display:flex;
                gap:20px;
                align-content: center;
                li{
                    display:flex;
                    gap:5px;
                    align-items: center;
                    p{
                        margin:auto;
                    }
                    img{
                        cursor:pointer;
                    }
                }
            }
        }
    }

    hr{
        border:none;
        border-top: 0.5px solid rgb(95, 95, 95);
        width: 98%;
    }

    #channel-info{
        position:relative;
        height: 120px;
        #channel-name{
            display:flex;
            gap: 15px;
            align-items: center;
            img{
                border-radius: 50%;
                width: 50px;
            }
        }
        #subscribe-btn{
            position: absolute;
            top:7px;
            right: 7px;
            border:none;
            border-radius: 2px;
            background-color: rgb(214, 7, 7);
            color:white;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 500;
            letter-spacing: 0.5px;
            cursor:pointer;
            padding: 10px 5px;
            width: 13%;
        }
        .container{
            display:flex;
            gap: 3px;
            flex-direction: column;
            font-size: 14px;
            font-weight: 550;
            align-items: center;
            #sub-num{
                font-size: 12px;
                color: $greytext;
            }
        }
        #more-btn{
            position:absolute;
            bottom:0px;
            left: 60px;
            border: none;
            background-color: none;
            color:$greytext;
            cursor:pointer;
        }
    }
}

@media only screen and (max-width: 900px){
    article{
        flex-direction:column;

        #description p{
            margin: 10px 0;
        }

        #action-buttons{
            display:none;
        }
        hr{
            margin-top:5px;
        }
    }
    #subscribe-btn{
        font-size: 10px;
        width: 8%;
    }
}
