/*mixin*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 100%;
  height: 7vh;
  background-color: #313131;
  position: relative;
}

nav #nav-left {
  position: absolute;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  left: 70px;
}

nav #nav-left #yt-logo {
  width: 120px;
}

nav #nav-right {
  position: absolute;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  right: 70px;
}

nav #nav-right #profile-pic {
  border-radius: 50%;
  width: 35px;
}

nav #nav-right a {
  background-color: #313131;
}

nav #searchbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  background-color: #313131;
}

nav #searchbar input {
  width: 90%;
  border: 1px solid #383838;
  padding: 4px;
  font-size: 15px;
  background-color: #1a1a1a;
}

nav #searchbar input:focus {
  outline: none;
}

nav #searchbar button {
  border: none;
  width: 15%;
  margin: 0;
  cursor: pointer;
  height: 27px;
  background-color: #202020;
}

nav #searchbar button i {
  margin-top: 1px;
  background-color: #202020;
}

nav .bg-light {
  background-color: #313131;
}

nav .pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

#recommendations {
  margin: 0;
  height: 100%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#recommendations ul {
  padding-left: 4px;
}

#recommendations ul li {
  cursor: pointer;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  list-style: none;
}

#recommendations ul li .thumbnail {
  width: 168px;
  height: 94px;
}

#recommendations ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#recommendations ul li div h1 {
  font-size: 14px;
  margin-bottom: 5px;
}

#recommendations ul li div p {
  color: #bbbbbb;
  font-size: 12px;
  margin: 3px 0;
}

@media only screen and (max-width: 900px) {
  #yt-logo {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .disappear {
    display: none;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  background-color: #1a1a1a;
}

body, html {
  height: 100%;
}

article {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  height: 100%;
}

#main-content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#main-content #video-player {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-content #video-player iframe {
  width: 100%;
  height: 40vw;
}

#main-content #description {
  position: relative;
  font-size: 14px;
  height: 83px;
}

#main-content #description header {
  margin: 5px 0;
  color: #5a98f7;
}

#main-content #description h1 {
  font-weight: 500;
  font-size: 19px;
}

#main-content #description p {
  margin: 7px 0 -10px 0;
}

#main-content #description #action-buttons {
  position: absolute;
  right: 0;
  bottom: 5px;
}

#main-content #description #action-buttons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-content #description #action-buttons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #description #action-buttons ul li p {
  margin: auto;
}

#main-content #description #action-buttons ul li img {
  cursor: pointer;
}

#main-content hr {
  border: none;
  border-top: 0.5px solid #5f5f5f;
  width: 98%;
}

#main-content #channel-info {
  position: relative;
  height: 120px;
}

#main-content #channel-info #channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #channel-info #channel-name img {
  border-radius: 50%;
  width: 50px;
}

#main-content #channel-info #subscribe-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  border-radius: 2px;
  background-color: #d60707;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 10px 5px;
  width: 13%;
}

#main-content #channel-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 550;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #channel-info .container #sub-num {
  font-size: 12px;
  color: #bbbbbb;
}

#main-content #channel-info #more-btn {
  position: absolute;
  bottom: 0px;
  left: 60px;
  border: none;
  background-color: none;
  color: #bbbbbb;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article #description p {
    margin: 10px 0;
  }
  article #action-buttons {
    display: none;
  }
  article hr {
    margin-top: 5px;
  }
  #subscribe-btn {
    right: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */